* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

span {
    display: inline-block;
}

a:hover {
    text-decoration: none;
    color: initial;
}

ul, li {
    list-style-type: none;
}

.abovefooter {
    margin-top: 24px;
}

.conainer_footer {
    background-color: #f2f2f2;
}